@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.paragraph {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #f0ede5;
  font-weight: 400;
  padding: 10px 0;
  line-height: 24px;
}

.title {
  font-family: "Bruno Ace SC", sans-serif;
  font-weight: 400;
  letter-spacing: -0.05em;
  font-size: 48px;
  line-height: 40.8px;
  text-align: left;
}

.title-secondary {
  font-family: "Bruno Ace SC", sans-serif;
  font-weight: 400;
  letter-spacing: -0.05em;
  font-size: 30px;
  line-height: 30.8px;
  text-align: center;
}

.title-third {
  font-family: "Bruno Ace SC", sans-serif;
  font-weight: 400;
  letter-spacing: -0.05em;
  font-family: "Bruno Ace SC", sans-serif;
  font-size: 22px;
  line-height: 22.8px;
  text-align: center;
}

.title-fourth {
  font-family: "Bruno Ace SC", sans-serif;
  font-weight: 400;
  letter-spacing: -0.05em;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 19.8px;
  font-weight: 300;
  letter-spacing: 1px;
}

.title-shadow {
  text-shadow: 0px 0px 3px #000000;
}

.fading-box {
  opacity: 0;
  transform: translateY(150px);
  transition: all 0.3s ease-in-out;
}

.show {
  opacity: 1;
  transform: translateY(0);
}

.fading-drop {
  opacity: 0.1;
  transition: opacity 0.6s ease-in-out;
}

.visible {
  opacity: 1;
}

.fading-drop-fast {
  opacity: 0;
  transform: translateX(-250px);
  transition: all 0.3s ease-in-out;
}

.visible-fast {
  opacity: 1;
  transform: translateX(0);
}

.fading-drop-slow {
  opacity: 0;
  transform: translateX(-250px);
  transition: all 0.9s ease-in-out;
}

.visible-slow {
  opacity: 1;
  transform: translateX(0);
}

.button {
  position: relative;
  display: block;
  width: 100%;
  height: 56px;
  border-radius: 40px;
  margin: 0 auto;
  background-color: #fff;
  color: #1d1d1d;
  cursor: pointer;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  border: none;
}
.button__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  border-radius: 40px;
  width: 100%;
  height: 100%;
  color: #1d1d1d;
}
.button__link:focus {
  color: #1d1d1d;
}

.header {
  background-image: url("../../images//front1.jpg");
  min-height: 100vh;
  box-sizing: border-box;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  grid-template-rows: repeat(2, 120px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
}
@media (min-width: 640px) {
  .header {
    grid-template-columns: repeat(6, 1fr);
    gap: 24px;
  }
}
@media (min-width: 1020px) {
  .header {
    grid-template-columns: repeat(12, 60px);
  }
}
@media (min-width: 1600px) {
  .header {
    grid-template-columns: repeat(12, 73px);
    gap: 14px;
  }
}
@media (min-width: 640px) {
  .header {
    background-position: center;
    background-size: cover;
  }
}
@media (min-width: 1020px) {
  .header {
    min-height: 800px;
  }
}
@media (min-width: 1600px) {
  .header {
    background-size: auto;
  }
}
.header .start {
  grid-column: 1/-1;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 20px;
}
@media (min-width: 640px) {
  .header .start {
    padding: 0 40px;
  }
}
.header .start__logo {
  width: 170px;
  box-sizing: border-box;
  position: relative;
}
@media (min-width: 1020px) {
  .header .start__logo {
    width: 230px;
    height: 162px;
  }
}
.header .start__link {
  display: flex;
  justify-content: flex-end;
}
.header .start__icon {
  width: 100%;
  height: auto;
}
.header .start__timer {
  width: 130px;
  height: 100%;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Bruno Ace SC", sans-serif;
  color: #f0ede5;
  font-weight: bold;
}
@media (min-width: 1020px) {
  .header .start__timer {
    width: 230px;
    height: 162px;
  }
}
.header .start__warning {
  box-sizing: border-box;
  text-align: center;
  font-family: "Chakra Petch", sans-serif;
  line-height: 20px;
  font-size: 16px;
}
.header .start .hours {
  width: 100%;
  color: gold;
  display: block;
  padding-top: 10px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
.header .start .stop-time {
  color: #ab0b23;
}
.header .middle {
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
  padding-right: 10px;
  box-sizing: border-box;
  position: relative;
}
@media (min-width: 640px) {
  .header .middle {
    justify-content: center;
  }
}
.header .middle__banner {
  width: 250px;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1921568627);
  overflow: hidden;
}
.header .middle__paragraph {
  position: relative;
  right: 0;
  font-family: "Chakra Petch", sans-serif;
  color: #800020;
  text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.7450980392);
  animation: flying-banner 14s linear infinite;
  white-space: nowrap;
  letter-spacing: 1px;
  color: #800020;
  font-size: 30px;
  line-height: 40px;
}
.header .middle__paragraph:hover {
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
}
@keyframes flying-banner {
  0% {
    transform: translateX(0);
    padding-left: 100%;
  }
  100% {
    transform: translateX(-100%);
    padding-left: 100%;
  }
}
.header__end {
  margin-bottom: 30px;
}
@media (min-width: 640px) {
  .header__end {
    margin-bottom: 100px;
  }
}
.header .end {
  grid-column: 1/-1;
  align-self: end;
}
@media (min-width: 640px) {
  .header .end {
    grid-column: 1/-1;
  }
}
.header .end__title {
  font-size: 20px;
  line-height: 22px;
  box-sizing: border-box;
  text-shadow: 0 3px 5px #111;
  font-family: "Chakra Petch", sans-serif;
  padding: 0 20px;
}
@media (min-width: 640px) {
  .header .end__title {
    padding: 0 40px;
  }
}
@media (min-width: 640px) {
  .header .end__title {
    font-size: 28px;
    line-height: 30px;
  }
}
@media (min-width: 1020px) {
  .header .end__title {
    font-size: 38px;
    line-height: 48px;
  }
}
.header .end__smile::after {
  content: "☻";
  font-size: 30px;
  color: gold;
  margin-left: 6px;
}
@media (min-width: 640px) {
  .header .end__smile::after {
    font-size: 45px;
  }
}

.font-icon {
  display: block;
  font-size: 40px;
  color: gold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work::before {
  content: "Zakładka w trakcie budowy.";
  width: 100%;
  height: 35px;
  position: absolute;
  left: 0;
  bottom: 50%;
  font-size: 10px;
  white-space: wrap;
  line-height: 35px;
  text-align: center;
  background-color: rgba(255, 217, 0, 0.836);
  color: #000;
  z-index: 1;
  font-size: 17px;
}
@media (min-width: 640px) {
  .work::before {
    font-size: 12.5px;
  }
}
@media (min-width: 1020px) {
  .work::before {
    font-size: 18px;
  }
}
.work::after {
  content: "Otwarcie 01.03.2025r.";
  width: 100%;
  height: 35px;
  position: absolute;
  left: 0;
  top: 50%;
  font-size: 10px;
  white-space: wrap;
  line-height: 35px;
  text-align: center;
  background-color: rgba(255, 217, 0, 0.836);
  color: #000;
  z-index: 1;
  font-size: 17px;
}
@media (min-width: 640px) {
  .work::after {
    font-size: 12.5px;
  }
}
@media (min-width: 1020px) {
  .work::after {
    font-size: 18px;
  }
}

.main {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
}
@media (min-width: 640px) {
  .main {
    grid-template-columns: repeat(6, 1fr);
    gap: 24px;
  }
}
@media (min-width: 1020px) {
  .main {
    grid-template-columns: repeat(12, 60px);
  }
}
@media (min-width: 1600px) {
  .main {
    grid-template-columns: repeat(12, 73px);
    gap: 14px;
  }
}
@media (min-width: 1600px) {
  .main {
    min-height: 950px;
  }
}
.main__navi {
  margin: 50px 0;
}
.main .navi {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
}
@media (min-width: 640px) {
  .main .navi {
    grid-template-columns: repeat(6, 1fr);
    gap: 24px;
  }
}
@media (min-width: 1020px) {
  .main .navi {
    grid-template-columns: repeat(12, 60px);
  }
}
@media (min-width: 1600px) {
  .main .navi {
    grid-template-columns: repeat(12, 73px);
    gap: 14px;
  }
}
.main .navi__list {
  grid-column: 1/-1;
  grid-template-rows: 250px;
  grid-auto-rows: 200px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
}
@media (min-width: 640px) {
  .main .navi__list {
    grid-template-columns: repeat(6, 1fr);
    gap: 24px;
  }
}
@media (min-width: 1020px) {
  .main .navi__list {
    grid-template-columns: repeat(12, 60px);
  }
}
@media (min-width: 1600px) {
  .main .navi__list {
    grid-template-columns: repeat(12, 73px);
    gap: 14px;
  }
}
@media (min-width: 1020px) {
  .main .navi__list {
    grid-template-rows: 300px;
    grid-auto-rows: 250px;
  }
}
@media (min-width: 1600px) {
  .main .navi__list {
    grid-template-columns: repeat(12, 63px);
  }
}
.main .navi__item {
  grid-column: 1/-1;
  border: 4px solid #5e1919;
  box-sizing: border-box;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .navi__item--maps {
  border: none;
  box-shadow: none;
  position: relative;
}
.main .navi__item--maps .navi__link--maps {
  width: 200px;
  height: 160px;
  grid-column: 1/-1;
}
.main .navi__item--maps .maps-title {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 2px;
  left: 0;
  right: 0;
  z-index: 2;
  font-family: "Chakra Ace SC", sans-serif;
}
.main .navi__item--maps .item-maps-photo {
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in;
}
.main .navi__item--maps:hover .item-maps-photo {
  transform: scale(5) translateX(-40px) translateY(17px);
}
.main .navi__item--overlay {
  position: relative;
}
.main .navi__item--overlay .item-bckgrd-photo {
  width: 95%;
  height: 95%;
  object-fit: cover;
  position: absolute;
  border-radius: 10px;
}
.main .navi__item--overlay .item-bckgrd-photo--width {
  width: 95%;
  height: 95%;
}
@media (min-width: 640px) {
  .main .navi__item--overlay .item-bckgrd-photo--width {
    width: 98%;
    height: 95%;
  }
}
.main .navi__item--overlay .item-overlay {
  box-sizing: border-box;
  width: 90%;
  height: 90%;
  position: absolute;
  border-radius: 10px;
  transition: transform 0.3s;
  background-color: rgba(0, 0, 0, 0.3098039216);
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .navi__item--overlay:hover .item-overlay {
  transform: translateX(100%);
}
.main .navi__link {
  text-decoration: none;
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
@media (min-width: 640px) {
  .main .navi__item--short {
    grid-column: span 2;
  }
}
@media (min-width: 1020px) {
  .main .navi__item--small {
    grid-column: span 4;
  }
}
@media (min-width: 640px) {
  .main .navi__item--long {
    grid-column: span 4;
  }
}
@media (min-width: 1020px) {
  .main .navi__item--big {
    grid-column: span 8;
  }
}
.main .navi__item--cars {
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}
.main .navi__item--cars .grid-cars-top {
  height: 100%;
  border-bottom: 1px solid #5e1919;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  position: relative;
  overflow: hidden;
}
.main .navi__item--cars .grid-cars-top::before {
  content: "Producenci";
  text-align: center;
  font-size: 10px;
  font-weight: 500;
  line-height: 16px;
  display: block;
  width: 70px;
  height: 16px;
  background-color: #5e1919;
  position: absolute;
  top: 0;
  left: calc(50% - 35px);
  transition: opacity 0.7s;
  z-index: 1;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
@media (min-width: 640px) {
  .main .navi__item--cars .grid-cars-top::before {
    font-size: 14px;
    line-height: 20px;
    width: 100px;
    height: 20px;
    left: calc(50% - 50px);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}
@media (min-width: 1020px) {
  .main .navi__item--cars .grid-cars-top::before {
    font-size: 16px;
    line-height: 30px;
    width: 200px;
    height: 30px;
    left: calc(50% - 100px);
  }
}
.main .navi__item--cars .grid-cars-top:hover .grid-cars-top__overlay {
  transform: translateX(-100%);
}
.main .navi__item--cars .grid-cars-top__overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
  width: 100%;
  height: 100%;
  background-color: #070504;
  position: absolute;
  box-sizing: border-box;
  background-image: url("../../images/up2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}
.main .navi__item--cars .grid-cars-top__title-secondary {
  grid-column: 1/-1;
  height: 100%;
  position: absolute;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .navi__item--cars .grid-cars-top__item {
  grid-column: 1fr;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .navi__item--cars .grid-cars-top__item:hover .grid-cars-top__link {
  transform: translateY(-10px);
}
.main .navi__item--cars .grid-cars-top__link {
  text-decoration: none;
  transition: transform 0.3s;
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .navi__item--cars .grid-cars-top__icon {
  width: 100%;
  height: auto;
}
.main .navi__item--cars .grid-cars-bottom {
  height: 100%;
  padding-bottom: 10px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  overflow: hidden;
}
.main .navi__item--cars .grid-cars-bottom::before {
  content: "Pojazdy";
  text-align: center;
  font-size: 10px;
  font-weight: 500;
  line-height: 16px;
  display: block;
  width: 70px;
  height: 16px;
  background-color: #5e1919;
  position: absolute;
  bottom: 0;
  left: calc(50% - 35px);
  transition: opacity 0.7s;
  z-index: 1;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
@media (min-width: 640px) {
  .main .navi__item--cars .grid-cars-bottom {
    padding-bottom: 25px;
  }
  .main .navi__item--cars .grid-cars-bottom::before {
    font-size: 14px;
    line-height: 20px;
    width: 100px;
    height: 20px;
    left: calc(50% - 50px);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
}
@media (min-width: 1020px) {
  .main .navi__item--cars .grid-cars-bottom {
    padding-bottom: 30px;
  }
  .main .navi__item--cars .grid-cars-bottom::before {
    font-size: 16px;
    line-height: 30px;
    width: 200px;
    height: 30px;
    left: calc(50% - 100px);
  }
}
.main .navi__item--cars .grid-cars-bottom:hover .grid-cars-bottom__overlay {
  transform: translateX(-100%);
}
.main .navi__item--cars .grid-cars-bottom__item {
  grid-column: 1fr;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .navi__item--cars .grid-cars-bottom__item--scooter {
  background-image: url("./images/scooter1.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 1020px) {
  .main .navi__item--cars .grid-cars-bottom__item--scooter {
    background-size: contain;
  }
}
.main .navi__item--cars .grid-cars-bottom__item--motorbike {
  background-image: url("./images/motorbike1.png");
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 1020px) {
  .main .navi__item--cars .grid-cars-bottom__item--motorbike {
    background-size: contain;
  }
}
.main .navi__item--cars .grid-cars-bottom__item--quad {
  background-image: url("./images/quad1.png");
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 1020px) {
  .main .navi__item--cars .grid-cars-bottom__item--quad {
    background-size: contain;
  }
}
.main .navi__item--cars .grid-cars-bottom__item:hover .grid-cars-bottom__link {
  transform: scale(1.05);
}
.main .navi__item--cars .grid-cars-bottom__item:hover .grid-cars-bottom__paragraph {
  color: gold;
}
.main .navi__item--cars .grid-cars-bottom__link {
  text-decoration: none;
  width: 100%;
  height: 100%;
  font-size: 14px;
  text-align: center;
  color: #fff;
  transition: opacity 0.3s ease;
  background-color: rgb(0, 0, 0);
  text-transform: uppercase;
  transition: transform 0.2s ease;
  border-radius: 10px;
  position: relative;
}
.main .navi__item--cars .grid-cars-bottom__paragraph {
  color: #d4d4d4;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 5px;
  font-family: "Bruno Ace SC", sans-serif;
  text-transform: lowercase;
  letter-spacing: 1px;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  font-size: 10px;
  padding: 10px;
  top: 0;
}
@media (min-width: 640px) {
  .main .navi__item--cars .grid-cars-bottom__paragraph {
    font-size: 16px;
    justify-content: flex-start;
  }
}

.section__open {
  margin: 50px 0;
}
.section .open {
  padding: 25px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
}
@media (min-width: 640px) {
  .section .open {
    grid-template-columns: repeat(6, 1fr);
    gap: 24px;
  }
}
@media (min-width: 1020px) {
  .section .open {
    grid-template-columns: repeat(12, 60px);
  }
}
@media (min-width: 1600px) {
  .section .open {
    grid-template-columns: repeat(12, 73px);
    gap: 14px;
  }
}
.section .open__title {
  text-align: center;
  padding: 10px 0;
  grid-column: 1/-1;
  min-height: 80px;
  font-size: 30px;
  line-height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section .open__title--salon-service {
  border-bottom: 2px solid gold;
  padding-bottom: 10px;
  margin-top: 20px;
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
}
.section .open .hours__salon {
  grid-column: 1/-1;
  padding: 0 20px;
}
@media (min-width: 1020px) {
  .section .open .hours__salon {
    grid-column: 1/9;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
}
.section .open .hours__salon--season {
  grid-column: 1/-1;
}
.section .open .hours__salon--off-season {
  grid-column: 1/-1;
}
.section .open .hours-service {
  grid-column: 1/-1;
  padding: 0 20px;
}
@media (min-width: 1020px) {
  .section .open .hours-service {
    grid-column: 9/-1;
  }
}
.section .open .hours__title {
  text-align: center;
  line-height: 50px;
  padding: 20px 0;
  color: gold;
}
.section .open .hours__schedule {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1725490196);
}

.footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
}
@media (min-width: 640px) {
  .footer {
    grid-template-columns: repeat(6, 1fr);
    gap: 24px;
  }
}
@media (min-width: 1020px) {
  .footer {
    grid-template-columns: repeat(12, 60px);
  }
}
@media (min-width: 1600px) {
  .footer {
    grid-template-columns: repeat(12, 73px);
    gap: 14px;
  }
}
.footer-info-section {
  grid-column: 1/-1;
  background-color: #070504;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
}
@media (min-width: 640px) {
  .footer-info-section {
    grid-template-columns: repeat(6, 1fr);
    gap: 24px;
  }
}
@media (min-width: 1020px) {
  .footer-info-section {
    grid-template-columns: repeat(12, 60px);
  }
}
@media (min-width: 1600px) {
  .footer-info-section {
    grid-template-columns: repeat(12, 73px);
    gap: 14px;
  }
}
.footer__block {
  padding: 10px 20px 0;
  box-sizing: border-box;
  grid-column: 1/-1;
}
.footer__block-title {
  min-height: 133px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #fff;
}
@media (min-width: 640px) {
  .footer__block-title {
    border-top: none;
  }
}
@media (min-width: 640px) {
  .footer .about {
    grid-column: 1/4;
  }
}
@media (min-width: 1020px) {
  .footer .about {
    grid-column: 1/4;
  }
}
.footer .about__title {
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 640px) {
  .footer .company {
    grid-column: 4/7;
  }
}
@media (min-width: 1020px) {
  .footer .company {
    grid-column: 4/7;
  }
}
.footer .company__logo-overlay {
  border-top: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1/-1;
}
@media (min-width: 640px) {
  .footer .company__logo-overlay {
    border-top: none;
  }
}
.footer .company__logo-img {
  width: 188px;
  height: auto;
}
.footer .company__call-overlay {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 35px 175px;
}
.footer .company__title {
  grid-column: 1/-1;
  padding-top: 10px;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
}
.footer .company__adress-overlay {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 35px 175px;
  border-top: 1px solid rgba(255, 255, 255, 0.231372549);
  border-bottom: 1px solid rgba(255, 255, 255, 0.231372549);
}
.footer .company__mail-overlay {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 35px 175px;
}
.footer .company__mail-paragraph {
  text-decoration: none;
}
.footer .company__icon {
  grid-column: 1/2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footer .company__call-paragraph {
  text-decoration: none;
}
.footer .company__adress-paragraph {
  line-height: 18px;
}
.footer .company__paragraph {
  grid-column: 1/-1;
  margin-top: 20px;
  text-decoration: none;
}
@media (min-width: 640px) {
  .footer .navi-map {
    grid-column: 1/3;
  }
}
@media (min-width: 1020px) {
  .footer .navi-map {
    grid-column: 7/9;
    padding-right: 0;
  }
}
.footer .navi-map__shortcut {
  padding-top: 10px;
  padding-left: 15px;
}
.footer .navi-map__list {
  list-style-type: disc;
  list-style-position: outside;
}
.footer .navi-map .disabled-item {
  color: #868686;
}
.footer .navi-map .sub-navi {
  list-style-type: circle;
  list-style-position: inside;
}
.footer .navi-map .sub-navi__link {
  text-decoration: none;
  color: #fff;
}
.footer .navi-map__item {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  color: #f0ede5;
  font-weight: 400;
  line-height: 20px;
}
.footer .navi-map__link {
  text-decoration: none;
  color: #fff;
}
@media (min-width: 640px) {
  .footer .socials {
    grid-column: 3/7;
  }
}
@media (min-width: 1020px) {
  .footer .socials {
    grid-column: 9/13;
  }
}
.footer .socials__overlay {
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer .socials__paragraph {
  padding: 20px 0;
}
.footer .socials__link {
  display: block;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  border-radius: 50%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .socials__link-facebook {
  border: 2px solid #3b5998;
  color: #3b5998;
}
.footer .socials__link-facebook:hover {
  background-color: #3b5998;
  color: #fff;
}
.footer .socials__link-instagram {
  border: 2px solid #fcaf45;
  color: #fcaf45;
}
.footer .socials__link-instagram:hover {
  background-color: #fcaf45;
  color: #ffffff;
}
.footer .socials__link-youtube {
  border: 2px solid #c4302b;
  color: #c4302b;
}
.footer .socials__link-youtube:hover {
  background-color: #c4302b;
  color: #fff;
}
.footer .socials__link-tiktok {
  border: 2px solid #69c9d0;
  color: #000;
}
.footer .socials__link-tiktok:hover {
  background-color: #fff;
  color: #fff;
  border: 2px solid #fff;
}
.footer .socials__link .tiktok-logo {
  max-width: 100%;
  height: auto;
}
.footer .socials__icon {
  font-size: 20px;
}
.footer-finish {
  grid-column: 1/-1;
  margin-top: 30px;
}
.footer-finish__paragraph {
  text-align: center;
  padding-bottom: 20px;
  font-size: 10px;
}

.producer-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 90vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
}
@media (min-width: 640px) {
  .producer-header {
    grid-template-columns: repeat(6, 1fr);
    gap: 24px;
  }
}
@media (min-width: 1020px) {
  .producer-header {
    grid-template-columns: repeat(12, 60px);
  }
}
@media (min-width: 1600px) {
  .producer-header {
    grid-template-columns: repeat(12, 73px);
    gap: 14px;
  }
}
@media (min-width: 1020px) {
  .producer-header {
    background-position: center;
    background-size: contain;
    min-height: 682px;
  }
}
.producer-header--keeway {
  background-image: url("../../images/keeway/keewfront4.jpg");
}
.producer-header--kymco {
  background-image: url("../../images/kymco/kymcofront1.jpg");
}
.producer-header--qjmotor {
  background-image: url("../../images/qjmotor/qjfront2.jpg");
}
.producer-header--morbidelli {
  background-image: url("../../images/morbidelli/mbpfront.jpg");
}
.producer-header--benelli {
  background-image: url("../../images/benneli/benellifront.jpg");
}
.producer-header--scooter {
  background-image: url("../../images/inne/skuteryx.jpg");
}
.producer-header--motocykle {
  background-image: url("../../images/inne/most.jpg");
}
.producer-header--quady {
  background-image: url("../../images/inne/quadfront.jpg");
}
.producer-header__nav {
  grid-column: 1/-1;
  height: 86px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.producer-header__list {
  width: 100%;
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.producer-header__item .burger {
  display: inline-block;
  width: 22px;
  height: 16px;
  background-image: url("../images/menu.svg");
  background-size: cover;
}
.producer-header__item .burger:hover {
  background-image: url("../images/menu_hover.svg");
}
.producer-header__item .burger__label {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}
.producer-header__item--logo {
  width: 160px;
}
.producer-header__link {
  text-decoration: none;
}
.producer-header__back-page {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  padding-top: 5px;
  color: rgba(255, 217, 0, 0.411);
  position: relative;
  letter-spacing: 1px;
  font-size: 10px;
}
.producer-header__back-page::before {
  content: "<<< ";
  position: absolute;
  left: 0;
}
.producer-header__keeway {
  width: 100%;
  height: auto;
}
.producer-header__title {
  grid-column: 1/-1;
  font-family: Poppins;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: -1.5px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 640px) {
  .producer-header__title {
    font-size: 36px;
  }
}
@media (min-width: 640px) {
  .producer-header__title {
    font-size: 64px;
  }
}
@media (min-width: 1600px) {
  .producer-header__title {
    font-size: 80px;
  }
}

.producer-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
}
@media (min-width: 640px) {
  .producer-main {
    grid-template-columns: repeat(6, 1fr);
    gap: 24px;
  }
}
@media (min-width: 1020px) {
  .producer-main {
    grid-template-columns: repeat(12, 60px);
  }
}
@media (min-width: 1600px) {
  .producer-main {
    grid-template-columns: repeat(12, 73px);
    gap: 14px;
  }
}
.producer-main__invite {
  margin-top: 60px;
}
.producer-main .invite {
  padding: 0 20px;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
}
@media (min-width: 640px) {
  .producer-main .invite {
    grid-template-columns: repeat(6, 1fr);
    gap: 24px;
  }
}
@media (min-width: 1020px) {
  .producer-main .invite {
    grid-template-columns: repeat(12, 60px);
  }
}
@media (min-width: 1600px) {
  .producer-main .invite {
    grid-template-columns: repeat(12, 73px);
    gap: 14px;
  }
}
@media (min-width: 640px) {
  .producer-main .invite {
    padding: 0 72px;
  }
}
.producer-main .invite__title {
  grid-column: 1/-1;
  font-family: Poppins;
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -1.5px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-bottom: 12px;
}
@media (min-width: 640px) {
  .producer-main .invite__title {
    grid-column: 1/4;
  }
}
@media (min-width: 1020px) {
  .producer-main .invite__title {
    grid-column: 2/4;
  }
}
.producer-main .invite__paragraph {
  grid-column: 1/-1;
  font-family: Poppins;
  font-size: 23px;
  font-weight: 500;
  line-height: 32.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
@media (min-width: 640px) {
  .producer-main .invite__paragraph {
    grid-column: 4/-1;
  }
}
@media (min-width: 1020px) {
  .producer-main .invite__paragraph {
    grid-column: 5/-2;
  }
}
.producer-main .invite__title--position {
  grid-column: 1/-1;
  text-align: center;
  margin-top: 90px;
}
@media (min-width: 640px) {
  .producer-main .invite__title--position {
    margin-top: 132px;
  }
}
@media (min-width: 1020px) {
  .producer-main .invite__title--position {
    margin-top: 164px;
  }
}
.producer-main__products-wrapper {
  margin-top: 50px;
}
.producer-main .products-wrapper {
  padding: 0 20px;
  grid-column: 1/-1;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
}
@media (min-width: 640px) {
  .producer-main .products-wrapper {
    grid-template-columns: repeat(6, 1fr);
    gap: 24px;
  }
}
@media (min-width: 1020px) {
  .producer-main .products-wrapper {
    grid-template-columns: repeat(12, 60px);
  }
}
@media (min-width: 1600px) {
  .producer-main .products-wrapper {
    grid-template-columns: repeat(12, 73px);
    gap: 14px;
  }
}
.producer-main .products-wrapper__product {
  grid-column: 1/-1;
  margin-bottom: 90px;
}
@media (min-width: 640px) {
  .producer-main .products-wrapper__product {
    grid-column: 2/-2;
    margin-bottom: 120px;
  }
}
@media (min-width: 1020px) {
  .producer-main .products-wrapper__product {
    margin-bottom: 144px;
  }
}
.producer-main .products-wrapper__product-wrap {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
}
@media (min-width: 640px) {
  .producer-main .products-wrapper__product-wrap {
    grid-template-columns: repeat(6, 1fr);
    gap: 24px;
  }
}
@media (min-width: 1020px) {
  .producer-main .products-wrapper__product-wrap {
    grid-template-columns: repeat(12, 60px);
  }
}
@media (min-width: 1600px) {
  .producer-main .products-wrapper__product-wrap {
    grid-template-columns: repeat(12, 73px);
    gap: 14px;
  }
}
.producer-main .product-wrap {
  display: none;
}
.producer-main .product-wrap:target {
  display: block;
}
.producer-main .product-wrap__details {
  grid-column: 1/-1;
  margin-bottom: 90px;
}
@media (min-width: 640px) {
  .producer-main .product-wrap__details {
    margin-bottom: 120px;
  }
}
@media (min-width: 1020px) {
  .producer-main .product-wrap__details {
    margin-bottom: 144px;
  }
}
.producer-main .product-wrap__technicals {
  grid-column: 1/-1;
  margin-bottom: 90px;
}
@media (min-width: 640px) {
  .producer-main .product-wrap__technicals {
    margin-bottom: 120px;
  }
}
@media (min-width: 1020px) {
  .producer-main .product-wrap__technicals {
    margin-bottom: 144px;
  }
}
.producer-main .product {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
}
.producer-main .product::before {
  content: "";
  color: #000;
  text-transform: uppercase;
  box-shadow: 0px 6px 20px #ffffff;
  border-radius: 10px;
  line-height: 10px;
  font-size: 22px;
  text-align: center;
  font-family: "Poppins", serif;
  letter-spacing: 2px;
  display: block;
  width: 100%;
  grid-column: 1/-1;
  height: 10px;
  background-color: #f0ede5;
  position: absolute;
  top: 0;
}
@media (min-width: 640px) {
  .producer-main .product {
    grid-template-columns: repeat(6, 1fr);
    gap: 24px;
  }
}
@media (min-width: 1020px) {
  .producer-main .product {
    grid-template-columns: repeat(12, 60px);
  }
}
@media (min-width: 1600px) {
  .producer-main .product {
    grid-template-columns: repeat(12, 73px);
    gap: 14px;
  }
}
.producer-main .product__photo-box {
  grid-column: 1/-1;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  border: 2px solid rgba(255, 217, 0, 0.63);
}
@media (min-width: 1020px) {
  .producer-main .product__photo-box {
    grid-column: 2/-2;
  }
}
.producer-main .product .photo-box .switch-color {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.producer-main .product .photo-box .switch-color__arrow {
  font-size: 30px;
  color: gold;
  transition: transform 0.3s;
  margin: 0 10px;
  cursor: pointer;
}
.producer-main .product .photo-box .switch-color__arrow:hover {
  transform: scale(1.2);
}
.producer-main .product .photo-box__pro-colors {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.producer-main .product .photo-box .pro-colors {
  transition: transform 0.4s;
}
.producer-main .product .photo-box .pro-colors--fact_hide {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
}
.producer-main .product .photo-box .pro-colors--fact_show {
  position: relative;
  top: 0;
  left: 0;
  transform: translateX(0%);
}
.producer-main .product .photo-box .pro-colors--fact_run {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(100%);
}
.producer-main .product .photo-box .pro-colors--vieste_hide {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
}
.producer-main .product .photo-box .pro-colors--vieste_show {
  position: relative;
  top: 0;
  left: 0;
  transform: translateX(0%);
}
.producer-main .product .photo-box .pro-colors--vieste_run {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(100%);
}
.producer-main .product .photo-box .pro-colors--versilia_hide {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
}
.producer-main .product .photo-box .pro-colors--versilia_show {
  position: relative;
  top: 0;
  left: 0;
  transform: translateX(0%);
}
.producer-main .product .photo-box .pro-colors--versilia_run {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(100%);
}
.producer-main .product .photo-box .pro-colors--fourth_hide {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
}
.producer-main .product .photo-box .pro-colors--fourth_show {
  position: relative;
  top: 0;
  left: 0;
  transform: translateX(0%);
}
.producer-main .product .photo-box .pro-colors--fourth_run {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(100%);
}
.producer-main .product .photo-box .pro-colors--fifth_hide {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
}
.producer-main .product .photo-box .pro-colors--fifth_show {
  position: relative;
  top: 0;
  left: 0;
  transform: translateX(0%);
}
.producer-main .product .photo-box .pro-colors--fifth_run {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(100%);
}
.producer-main .product .photo-box .pro-colors--sixth_hide {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
}
.producer-main .product .photo-box .pro-colors--sixth_show {
  position: relative;
  top: 0;
  left: 0;
  transform: translateX(0%);
}
.producer-main .product .photo-box .pro-colors--sixth_run {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(100%);
}
.producer-main .product .photo-box .pro-colors__photo {
  width: 50%;
  height: auto;
  transition: transform 0.3s;
}
@media (min-width: 1020px) {
  .producer-main .product .photo-box .pro-colors__photo {
    width: 50%;
  }
}
.producer-main .product .photo-box .pro-colors__photo:hover {
  transform: scale(1.2);
}
.producer-main .product .photo-box .pro-colors--blackwhite::after {
  display: block;
  z-index: -1;
  text-align: center;
  width: 140px;
  height: 20px;
  line-height: 20px;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Chakra Petch", sans-serif;
  background-color: gold;
  text-shadow: 1px 1px 10px rgb(0, 0, 0);
  position: absolute;
  top: 20px;
  content: "biały";
  z-index: 1;
  color: rgb(254, 255, 216);
  transform: rotate(45deg);
  right: -40px;
}
.producer-main .product .photo-box .pro-colors--blackwhite::before {
  display: block;
  z-index: -1;
  text-align: center;
  width: 140px;
  height: 20px;
  line-height: 20px;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Chakra Petch", sans-serif;
  background-color: gold;
  text-shadow: 1px 1px 10px rgb(0, 0, 0);
  position: absolute;
  top: 20px;
  content: "czarny";
  color: rgb(0, 0, 0);
  transform: rotate(-45deg);
  left: -40px;
  z-index: 1;
}
.producer-main .product .photo-box .pro-colors--gray::before {
  display: block;
  z-index: -1;
  text-align: center;
  width: 140px;
  height: 20px;
  line-height: 20px;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Chakra Petch", sans-serif;
  background-color: gold;
  text-shadow: 1px 1px 10px rgb(0, 0, 0);
  position: absolute;
  top: 20px;
  content: "szary";
  color: rgb(73, 73, 73);
  transform: rotate(-45deg);
  left: -40px;
}
.producer-main .product .photo-box .pro-colors--gray-right::after {
  display: block;
  z-index: -1;
  text-align: center;
  width: 140px;
  height: 20px;
  line-height: 20px;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Chakra Petch", sans-serif;
  background-color: gold;
  text-shadow: 1px 1px 10px rgb(0, 0, 0);
  position: absolute;
  top: 20px;
  content: "szary";
  color: rgb(73, 73, 73);
  transform: rotate(45deg);
  right: -40px;
  z-index: 1;
}
.producer-main .product .photo-box .pro-colors--white-before::before {
  display: block;
  z-index: -1;
  text-align: center;
  width: 140px;
  height: 20px;
  line-height: 20px;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Chakra Petch", sans-serif;
  background-color: gold;
  text-shadow: 1px 1px 10px rgb(0, 0, 0);
  position: absolute;
  top: 20px;
  content: "biały";
  z-index: 1;
  color: rgb(254, 255, 216);
  transform: rotate(-45deg);
  left: -40px;
}
.producer-main .product .photo-box .pro-colors--white::after {
  display: block;
  z-index: -1;
  text-align: center;
  width: 140px;
  height: 20px;
  line-height: 20px;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Chakra Petch", sans-serif;
  background-color: gold;
  text-shadow: 1px 1px 10px rgb(0, 0, 0);
  position: absolute;
  top: 20px;
  content: "biały";
  z-index: 1;
  color: rgb(254, 255, 216);
  transform: rotate(45deg);
  right: -40px;
}
.producer-main .product .photo-box .pro-colors--black::before {
  display: block;
  z-index: -1;
  text-align: center;
  width: 140px;
  height: 20px;
  line-height: 20px;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Chakra Petch", sans-serif;
  background-color: gold;
  text-shadow: 1px 1px 10px rgb(0, 0, 0);
  position: absolute;
  top: 20px;
  content: "czarny";
  color: rgb(0, 0, 0);
  transform: rotate(-45deg);
  left: -40px;
  z-index: 1;
}
.producer-main .product .photo-box .pro-colors--black-after::after {
  display: block;
  z-index: -1;
  text-align: center;
  width: 140px;
  height: 20px;
  line-height: 20px;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Chakra Petch", sans-serif;
  background-color: gold;
  text-shadow: 1px 1px 10px rgb(0, 0, 0);
  position: absolute;
  top: 20px;
  content: "czarny";
  z-index: 1;
  color: rgb(0, 0, 0);
  transform: rotate(45deg);
  right: -40px;
}
.producer-main .product .photo-box .pro-colors--blue::before {
  display: block;
  z-index: -1;
  text-align: center;
  width: 140px;
  height: 20px;
  line-height: 20px;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Chakra Petch", sans-serif;
  background-color: gold;
  text-shadow: 1px 1px 10px rgb(0, 0, 0);
  position: absolute;
  top: 20px;
  content: "niebieski";
  font-size: 14px;
  color: rgb(0, 61, 173);
  transform: rotate(45deg);
  right: -40px;
}
.producer-main .product .photo-box .pro-colors--blue-left::before {
  display: block;
  z-index: -1;
  text-align: center;
  width: 140px;
  height: 20px;
  line-height: 20px;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Chakra Petch", sans-serif;
  background-color: gold;
  text-shadow: 1px 1px 10px rgb(0, 0, 0);
  position: absolute;
  top: 20px;
  content: "niebieski";
  font-size: 14px;
  color: rgb(0, 61, 173);
  transform: rotate(-45deg);
  left: -40px;
}
.producer-main .product .photo-box .pro-colors--blue-after::after {
  display: block;
  z-index: -1;
  text-align: center;
  width: 140px;
  height: 20px;
  line-height: 20px;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Chakra Petch", sans-serif;
  background-color: gold;
  text-shadow: 1px 1px 10px rgb(0, 0, 0);
  position: absolute;
  top: 20px;
  content: "niebieski";
  font-size: 14px;
  color: rgb(0, 61, 173);
  transform: rotate(45deg);
  right: -40px;
}
.producer-main .product .photo-box .pro-colors--red::after {
  display: block;
  z-index: -1;
  text-align: center;
  width: 140px;
  height: 20px;
  line-height: 20px;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Chakra Petch", sans-serif;
  background-color: gold;
  text-shadow: 1px 1px 10px rgb(0, 0, 0);
  position: absolute;
  top: 20px;
  content: "czerwony";
  font-size: 12px;
  color: rgb(158, 0, 0);
  transform: rotate(-45deg);
  left: -40px;
}
.producer-main .product .photo-box .pro-colors--red-right::after {
  display: block;
  z-index: -1;
  text-align: center;
  width: 140px;
  height: 20px;
  line-height: 20px;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Chakra Petch", sans-serif;
  background-color: gold;
  text-shadow: 1px 1px 10px rgb(0, 0, 0);
  position: absolute;
  top: 20px;
  content: "czerwony";
  font-size: 12px;
  color: rgb(158, 0, 0);
  transform: rotate(45deg);
  right: -40px;
}
.producer-main .product .photo-box .pro-colors--gold::after {
  display: block;
  z-index: -1;
  text-align: center;
  width: 140px;
  height: 20px;
  line-height: 20px;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Chakra Petch", sans-serif;
  background-color: gold;
  text-shadow: 1px 1px 10px rgb(0, 0, 0);
  position: absolute;
  top: 20px;
  content: "piaskowy";
  font-size: 13px;
  color: gold;
  text-shadow: 0 0px 3px #000;
  transform: rotate(45deg);
  right: -40px;
}
.producer-main .product .photo-box .pro-colors--silver::after {
  display: block;
  z-index: -1;
  text-align: center;
  width: 140px;
  height: 20px;
  line-height: 20px;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Chakra Petch", sans-serif;
  background-color: gold;
  text-shadow: 1px 1px 10px rgb(0, 0, 0);
  position: absolute;
  top: 20px;
  content: "srebrny";
  color: rgb(87, 87, 87);
  text-shadow: 0px 0px 1px silver;
  font-size: 14px;
  transform: rotate(45deg);
  right: -40px;
}
.producer-main .product .photo-box .pro-colors--orange::after {
  display: block;
  z-index: -1;
  text-align: center;
  width: 140px;
  height: 20px;
  line-height: 20px;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Chakra Petch", sans-serif;
  background-color: gold;
  text-shadow: 1px 1px 10px rgb(0, 0, 0);
  position: absolute;
  top: 20px;
  content: "pomarańczowy";
  text-shadow: 0 0px 3px orange;
  font-size: 8px;
  color: rgb(0, 0, 0);
  transform: rotate(45deg);
  right: -40px;
}
.producer-main .product .photo-box .pro-colors--green::after {
  display: block;
  z-index: -1;
  text-align: center;
  width: 140px;
  height: 20px;
  line-height: 20px;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Chakra Petch", sans-serif;
  background-color: gold;
  text-shadow: 1px 1px 10px rgb(0, 0, 0);
  position: absolute;
  top: 20px;
  content: "zielony";
  font-size: 14px;
  color: green;
  transform: rotate(45deg);
  right: -40px;
}
.producer-main .product .photo-box .pro-colors--brown::before {
  display: block;
  z-index: -1;
  text-align: center;
  width: 140px;
  height: 20px;
  line-height: 20px;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Chakra Petch", sans-serif;
  background-color: gold;
  text-shadow: 1px 1px 10px rgb(0, 0, 0);
  position: absolute;
  top: 20px;
  content: "brązowy";
  font-size: 13px;
  color: brown;
  transform: rotate(-45deg);
  left: -40px;
}
.producer-main .product__title {
  grid-column: 1/-1;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 33.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.producer-main .product__write {
  font-family: "Dancing Script", serif;
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
  font-size: 30px;
  letter-spacing: 2px;
  display: block;
  padding-top: 20px;
  line-height: 150%;
}
.producer-main .product__title--name {
  grid-column: 1/-1;
  line-height: 60px;
  padding-top: 100px;
  font-style: italic;
  font-size: 46px;
  text-align: center;
  min-height: 100px;
}
.producer-main .product__paragraph {
  grid-column: 1/-1;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.producer-main .product__button {
  grid-column: 1/2;
  margin-top: 40px;
}
@media (min-width: 640px) {
  .producer-main .product__button {
    grid-column: 2/-2;
    margin-top: 48px;
  }
}
@media (min-width: 1020px) {
  .producer-main .product__button {
    grid-column: 5/9;
  }
}
.producer-main .details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
}
@media (min-width: 640px) {
  .producer-main .details {
    grid-template-columns: repeat(6, 1fr);
    gap: 24px;
  }
}
@media (min-width: 1020px) {
  .producer-main .details {
    grid-template-columns: repeat(12, 60px);
  }
}
@media (min-width: 1600px) {
  .producer-main .details {
    grid-template-columns: repeat(12, 73px);
    gap: 14px;
  }
}
.producer-main .details__title {
  grid-column: 1/-1;
  font-family: Poppins;
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -1.5px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 48px;
}
@media (min-width: 640px) {
  .producer-main .details__title {
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 64px;
  }
}
@media (min-width: 1020px) {
  .producer-main .details__title {
    font-size: 64px;
    line-height: 64px;
  }
}
.producer-main .details__title--element {
  grid-column: 1/-1;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 33.6px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.producer-main .details__photo {
  height: 163px;
  text-align: center;
  overflow: hidden;
}
@media (min-width: 640px) {
  .producer-main .details__photo {
    height: 200px;
  }
}
@media (min-width: 1020px) {
  .producer-main .details__photo {
    height: 321px;
  }
}
.producer-main .details__photo--big {
  grid-column: span 1;
}
@media (min-width: 640px) {
  .producer-main .details__photo--big {
    grid-column: span 4;
  }
}
@media (min-width: 1020px) {
  .producer-main .details__photo--big {
    grid-column: span 8;
  }
}
.producer-main .details__photo--small {
  grid-column: span 1;
}
@media (min-width: 640px) {
  .producer-main .details__photo--small {
    grid-column: span 2;
  }
}
@media (min-width: 1020px) {
  .producer-main .details__photo--small {
    grid-column: span 4;
  }
}
.producer-main .details__element {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  transition: transform 0.3s;
}
.producer-main .details__element:hover {
  transform: scale(1.1);
}
.producer-main .details__element--up {
  object-position: center 25%;
}
.producer-main .details__element--down {
  object-position: center 80%;
}
.producer-main .details__paragraph {
  grid-column: 1/-1;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.producer-main .technicals {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
}
@media (min-width: 640px) {
  .producer-main .technicals {
    grid-template-columns: repeat(6, 1fr);
    gap: 24px;
  }
}
@media (min-width: 1020px) {
  .producer-main .technicals {
    grid-template-columns: repeat(12, 60px);
  }
}
@media (min-width: 1600px) {
  .producer-main .technicals {
    grid-template-columns: repeat(12, 73px);
    gap: 14px;
  }
}
.producer-main .technicals__title {
  grid-column: 1/-1;
  font-family: Poppins;
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -1.5px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 48px;
}
@media (min-width: 640px) {
  .producer-main .technicals__title {
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 64px;
  }
}
@media (min-width: 1020px) {
  .producer-main .technicals__title {
    font-size: 64px;
    line-height: 64px;
  }
}
.producer-main .technicals__tech-el {
  grid-column: span 2;
  min-height: 200px;
  border: 1px solid rgba(255, 255, 255, 0.2470588235);
  box-sizing: border-box;
  background-position: center;
  background-size: cover;
}
@media (min-width: 640px) {
  .producer-main .technicals__tech-el {
    grid-column: span 3;
  }
}
@media (min-width: 1020px) {
  .producer-main .technicals__tech-el {
    grid-column: span 6;
  }
}
.producer-main .technicals__tech-el--engine {
  background-image: url("../../images/keeway/X-Light125/silnik1.jpg");
}
.producer-main .technicals__tech-el--gearcase {
  background-image: url("../../images/keeway/X-Light125/bebechy.jpg");
}
.producer-main .technicals__tech-el--weight {
  background-image: url("../../images/keeway/X-Light125/licznik.png");
}
.producer-main .technicals__tech-el--chassis {
  background-image: url("../../images/keeway/vies125/amorek.png");
}
.producer-main .technicals .tech-el {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}
.producer-main .technicals .tech-el__paragraph {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  transition: opacity 0.3s;
}
.producer-main .technicals .tech-el:hover .tech-el__paragraph {
  opacity: 0.2;
}
.producer-main .technicals .tech-el__tech-info {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s;
}
.producer-main .technicals .tech-el:hover .tech-el__tech-info {
  opacity: 1;
}
.producer-main .technicals .tech-el .tech-info__paragraph {
  padding-top: 15px;
  font-family: Poppins;
  font-size: 20px;
  line-height: 22.4px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-align: center;
  font-weight: bold;
  text-shadow: 0px 1px 3px #000000;
  transition: transform 0.3s;
}
.producer-main .technicals .tech-el .tech-info__paragraph:last-child {
  padding-bottom: 5px;
}
.producer-main .technicals .tech-el .tech-info__paragraph--value {
  padding: 0;
  font-weight: normal;
  color: gold;
  font-size: 18px;
}

.drop-menu {
  z-index: 1;
  background-color: #c2c2c2;
  min-height: 100vh;
  box-sizing: border-box;
  position: absolute;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  top: 0;
  left: 0;
  right: 0;
  grid-template-rows: 86px 1fr;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
}
@media (min-width: 640px) {
  .drop-menu {
    grid-template-columns: repeat(6, 1fr);
    gap: 24px;
  }
}
@media (min-width: 1020px) {
  .drop-menu {
    grid-template-columns: repeat(12, 60px);
  }
}
@media (min-width: 1600px) {
  .drop-menu {
    grid-template-columns: repeat(12, 73px);
    gap: 14px;
  }
}
@media (min-width: 640px) {
  .drop-menu {
    min-height: 50vh;
  }
}
.drop-menu__links {
  padding: 0 25px 25px;
}
@media (min-width: 640px) {
  .drop-menu__links {
    display: flex;
  }
}
.drop-menu:target {
  transform: translateX(0);
}

.producer-links {
  grid-column: 1/-1;
}
.producer-links__list {
  padding: 0 20px;
}
.producer-links__item {
  padding-bottom: 12px;
}
@media (min-width: 640px) {
  .producer-links__item {
    padding-bottom: 22px;
  }
}
.producer-links__link {
  font-family: Poppins;
  font-size: 22px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 1px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #1d1d1d;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  text-transform: uppercase;
  box-sizing: border-box;
}
@media (min-width: 640px) {
  .producer-links__link {
    font-size: 22px;
    line-height: 22px;
  }
}
.producer-links__link:hover {
  border-bottom: 2px solid #1d1d1d;
}

.keeway-page {
  background-color: #0f0f0f;
  background: linear-gradient(0.25turn, #0f0f0f, #111111, #0f0f0f);
}

.about-company {
  margin-bottom: 50px;
}
.about-company__title {
  font-family: "Poppins", serif;
  letter-spacing: 1px;
  font-weight: 400;
  font-style: normal;
}
.about-company .company-wrap {
  display: block;
  width: 100px;
  height: 100px;
  border: 2px solid rgb(255, 255, 255);
  margin: 30px auto;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border-radius: 50%;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-company .company-wrap__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}
.about-company .company-wrap__link--keeway {
  background-image: url("../../../images/loga/keeway1000.png");
}
.about-company .company-wrap__link--keeway:hover {
  background-image: url("../../../images/loga/keeway2.png");
}
.about-company .company-wrap__link--kymco {
  background-image: url("../../images/loga/kymco.png");
}
.about-company .company-wrap__link--kymco:hover {
  background-image: url("../../images/loga/kymco1.png");
}
.about-company .company-wrap__link--qjmotor {
  background-image: url("../../images/loga/qj.png");
}
.about-company .company-wrap__link--qjmotor:hover {
  background-image: url("../../images/loga/qjj.png");
}
.about-company .company-wrap__link--morbidelli {
  background-image: url("../../images/loga/mbp.png");
}
.about-company .company-wrap__link--morbidelli:hover {
  background-image: url("../../images/loga/mbpp.png");
}
.about-company .company-wrap__link--benneli {
  background-image: url("../../images/loga/benneli1.png");
}
.about-company .company-wrap__link--benneli:hover {
  background-image: url("../../images/loga/benneli12.png");
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  background-color: #000;
  color: #ffffff;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
