@use "../utils/mixins.scss" as *;
@use "../utils/variables.scss" as *;

.about-company {
  margin-bottom: 50px;

  &__title {
    font-family: $popins;
    letter-spacing: 1px;
    font-weight: 400;
    font-style: normal;
  }

  &__company-wrap {
  }

  .company-wrap {
    display: block;
    width: 100px;
    height: 100px;
    border: 2px solid rgb(255, 255, 255);
    margin: 30px auto;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 50%;
    padding: 15px;
    box-sizing: border-box;
    @include flex-center;

    &__link {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-size: cover;
      background-position: center;
    }

    &__link--keeway {
      background-image: url("../../../images/loga/keeway1000.png");

      &:hover {
        background-image: url("../../../images/loga/keeway2.png");
      }
    }

    &__link--kymco {
      background-image: url("../../images/loga/kymco.png");

      &:hover {
        background-image: url("../../images/loga/kymco1.png");
      }
    }

    &__link--qjmotor {
      background-image: url("../../images/loga/qj.png");

      &:hover {
        background-image: url("../../images/loga/qjj.png");
      }
    }

    &__link--morbidelli {
      background-image: url("../../images/loga/mbp.png");

      &:hover {
        background-image: url("../../images/loga/mbpp.png");
      }
    }

    &__link--benneli {
      background-image: url("../../images/loga/benneli1.png");

      &:hover {
        background-image: url("../../images/loga/benneli12.png");
      }
    }
  }
}
