@use "../utils/mixins.scss" as *;
@use "../utils/variables.scss" as *;

.drop-menu {
  z-index: 1;
  background-color: #c2c2c2;
  min-height: 100vh;
  box-sizing: border-box;
  position: absolute;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  top: 0;
  left: 0;
  right: 0;

  grid-template-rows: 86px 1fr;
  @include grid;

  @include md {
    min-height: 50vh;
  }

  &__links {
    padding: 0 25px 25px;

    @include md {
      display: flex;
    }
  }

  &:target {
    transform: translateX(0);
  }
}

.producer-links {
  grid-column: 1 / -1;

  &__list {
    padding: 0 20px;
  }

  &__item {
    padding-bottom: 12px;

    @include md {
      padding-bottom: 22px;
    }
  }

  &__link {
    font-family: Poppins;
    font-size: 22px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 1px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #1d1d1d;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    text-transform: uppercase;
    box-sizing: border-box;

    @include md {
      font-size: 22px;
      line-height: 22px;
    }

    &:hover {
      border-bottom: 2px solid #1d1d1d;
    }
  }
}
