@use "../utils/mixins.scss" as *;
@use "../utils/variables.scss" as *;
@use "../utils/paragraph.scss" as *;

.footer {
  @include grid();

  &--clothes {
    background-color: #1c1a26 !important;
  }

  //drugi najstarszy element całej stópki, musi być żeby tło było scalowane
  &-info-section {
    grid-column: 1/-1;
    background-color: $ink;
    @include grid();
  }
  //wszystkie bloki responsywne tak samo
  &__block {
    padding: 10px 20px 0;
    box-sizing: border-box;
    grid-column: 1/-1;

    //trzeba height żeby inne nagłówki były wycentrowane względem loga
    &-title {
      min-height: 133px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top: 1px solid #fff;

      @include md() {
        border-top: none;
      }
    }
  }
  //pierwsze skrzydło stópki
  .about {
    @include md() {
      grid-column: 1/4;
    }
    @include lg() {
      grid-column: 1/4;
    }

    &__title {
      text-transform: uppercase;
      text-align: center;
    }
  }
  //drugie skrzydło stópki
  .company {
    @include md() {
      grid-column: 4/7;
    }
    @include lg() {
      grid-column: 4/7;
    }

    &__logo-overlay {
      border-top: 1px solid #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      grid-column: 1/-1;

      @include md() {
        border-top: none;
      }
    }

    &__logo-img {
      width: 188px;
      height: auto;
    }

    &__call-overlay {
      grid-column: 1/-1;
      display: grid;
      grid-template-columns: 35px 175px;
    }

    &__title {
      grid-column: 1/-1;
      padding-top: 10px;
      font-size: 13px;
      font-family: "Poppins", sans-serif;
    }

    &__adress-overlay {
      grid-column: 1/-1;
      display: grid;
      grid-template-columns: 35px 175px;
      border-top: 1px solid #ffffff3b;
      border-bottom: 1px solid #ffffff3b;
    }

    &__mail-overlay {
      grid-column: 1/-1;
      display: grid;
      grid-template-columns: 35px 175px;
    }

    &__mail-paragraph {
      text-decoration: none;
    }

    &__icon {
      grid-column: 1/2;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    &__call-paragraph {
      text-decoration: none;
    }

    &__adress-paragraph {
      line-height: 18px;
    }

    &__paragraph {
      grid-column: 1/-1;
      margin-top: 20px;
      text-decoration: none;
    }
  }

  //trzecia skrzydło stópki
  .navi-map {
    @include md() {
      grid-column: 1/3;
    }
    @include lg() {
      grid-column: 7/9;
      padding-right: 0;
    }

    &__shortcut {
      padding-top: 10px;
      padding-left: 15px;
    }

    &__list {
      list-style-type: disc;
      list-style-position: outside;
    }

    .disabled-item {
      color: #868686;
    }

    .sub-navi {
      list-style-type: circle;
      list-style-position: inside;

      &__item {
      }

      &__link {
        text-decoration: none;
        color: #fff;

        &:hover:after {
          content: "\22b2";
          padding-left: 2px;
        }
      }
    }

    &__item {
      text-decoration: none;
      color: #fff;
      font-size: 13px;
      font-family: "Poppins", sans-serif;
      color: $coconut;
      font-weight: 400;
      line-height: 20px;
    }

    &__link {
      text-decoration: none;
      color: #fff;

      &:hover:after {
        content: "\22b2";
        padding-left: 2px;
      }
    }
  }

  //czwarta skrzydło stópki
  .socials {
    @include md() {
      grid-column: 3/7;
    }
    @include lg() {
      grid-column: 9/13;
    }

    &__overlay {
      padding: 20px 0;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    &__google-box {
    }

    &__paragraph {
      padding: 20px 0;
    }

    &__link {
      display: block;
      width: 40px;
      height: 40px;
      box-sizing: border-box;
      border-radius: 50%;
      text-decoration: none;
      @include flex-center();

      &-facebook {
        border: 2px solid #3b5998;
        color: #3b5998;
        &:hover {
          background-color: #3b5998;
          color: #fff;
        }
      }

      &-instagram {
        border: 2px solid #fcaf45;
        color: #fcaf45;
        &:hover {
          background-color: #fcaf45;
          color: #ffffff;
        }
      }
      &-youtube {
        border: 2px solid #c4302b;
        color: #c4302b;
        &:hover {
          background-color: #c4302b;
          color: #fff;
        }
      }

      &-tiktok {
        border: 2px solid #69c9d0;
        color: #000;
        &:hover {
          background-color: #fff;
          color: #fff;
          border: 2px solid #fff;
        }
      }

      .tiktok-logo {
        max-width: 100%;
        height: auto;
      }
    }

    &__icon {
      font-size: 20px;
    }
  }

  //stópka totalna - ostatnie linie
  &-finish {
    grid-column: 1/-1;
    margin-top: 30px;

    &__paragraph {
      text-align: center;
      padding-bottom: 20px;
      font-size: 10px;
    }
  }

  .glascroll {
    color: #d1d1d1;
    font-family: $popins;
    letter-spacing: 1px;
  }

  .active-subpage {
    &::after {
      content: "\22b2";
      padding-left: 2px;
      color: gold;
    }

    &:hover {
      border: none;
    }
  }
}
