@use "../utils/mixins.scss" as *;
@use "../utils/variables.scss" as *;

.header {
  background-image: url("../../images/city1.jpg");
  min-height: 100vh;
  box-sizing: border-box;
  background-position: left 21%;
  background-repeat: no-repeat;

  grid-template-rows: repeat(2, 120px);
  @include grid;

  @include md() {
    background-image: url("../../images//front1.jpg");
    background-position: center;
    background-size: cover;
  }

  @include lg() {
    min-height: 900px;
  }

  @include xl() {
    background-size: auto;
  }

  .start {
    grid-column: 1/-1;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    //1 box
    &__logo {
      width: 170px;
      box-sizing: border-box;
      position: relative;

      @include md() {
        padding: 30px;
        box-sizing: content-box;
      }
    }

    &__link {
      display: flex;
      justify-content: flex-end;
    }

    &__icon {
      width: 100%;
      height: auto;
      display: none;

      @include md() {
        display: block;
      }
    }

    &__icon--black {
      position: absolute;
      width: 100%;
      height: auto;

      @include md() {
        display: none;
      }
    }

    //2 box
    &__timer {
      width: 130px;
      height: 100%;
      text-align: center;
      box-sizing: border-box;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-family: $bruno;
      color: $cool-black;
      font-weight: bold;
      text-shadow: 0 1px 3px #ffffff57;

      @include md() {
        color: $coconut;
        text-shadow: none;
        padding: 30px;
        box-sizing: content-box;
      }
    }
    &__warning {
      box-sizing: border-box;
      text-align: center;
      @include flex-center();
      flex-wrap: wrap;
      text-align: center;
    }
    .hours {
      color: $cool-black;
      padding: 5px 0;

      @include md() {
        color: $coconut;
      }
    }

    .stop-time {
      color: $berry;
    }
  }

  .middle {
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
    padding-right: 10px;
    box-sizing: border-box;

    @include md() {
      justify-content: center;
    }

    &__banner {
      width: 200px;
      height: 40px;
      display: flex;
      align-items: center;
      border-radius: 5px;
      box-shadow: 0 0px 5px #00000031;
      overflow: hidden;
    }

    &__paragraph {
      position: relative;
      right: 0;
      font-family: $chakraP;
      color: $burgundy;
      text-shadow: 1px 1px 2px #000000be;
      animation: flying-banner 10s linear infinite;
      white-space: nowrap;
      letter-spacing: 1px;
      color: $burgundy;
      font-size: 25px;

      @include md() {
        color: $coconut;
      }
    }

    &__paragraph:hover {
      animation-play-state: paused;
      -webkit-animation-play-state: paused;
    }

    @keyframes flying-banner {
      0% {
        transform: translateX(0);
        padding-left: 100%;
      }

      100% {
        transform: translateX(-100%);
        padding-left: 100%;
      }
    }
  }

  &__end {
    margin-bottom: 30px;

    @include md() {
      margin-bottom: 100px;
    }
  }

  .end {
    grid-column: 1/-1;
    align-self: end;

    @include md() {
      grid-column: 1/7;
    }

    &__title {
      font-size: 28px;
      line-height: 30px;
      padding: 10px;
      box-sizing: border-box;
      text-shadow: 0 3px 5px #111;

      @include lg() {
        font-size: 38px;
        line-height: 48px;
      }
    }
  }
}
