@use "../utils/mixins.scss" as *;
@use "../utils/variables.scss" as *;

.header {
  background-image: url("../../images//front1.jpg");
  min-height: 100vh;
  box-sizing: border-box;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  grid-template-rows: repeat(2, 120px);
  @include grid;

  @include md() {
    background-position: center;
    background-size: cover;
  }

  @include lg() {
    min-height: 800px;
  }

  @include xl() {
    background-size: auto;
  }

  .start {
    grid-column: 1/-1;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 20px;
    @include md() {
      padding: 0 40px;
    }

    //1 box
    &__logo {
      width: 170px;
      box-sizing: border-box;
      position: relative;

      @include lg() {
        width: 230px;
        height: 162px;
      }
    }

    &__link {
      display: flex;
      justify-content: flex-end;
    }

    &__icon {
      width: 100%;
      height: auto;
    }

    //2 box
    &__timer {
      width: 130px;
      height: 100%;
      text-align: center;
      box-sizing: border-box;
      @include flex-center();
      font-family: $bruno;
      color: $coconut;
      font-weight: bold;

      @include lg() {
        width: 230px;
        height: 162px;
      }
    }
    &__warning {
      box-sizing: border-box;
      text-align: center;
      font-family: $chakraP;
      line-height: 20px;
      font-size: 16px;
    }
    .hours {
      width: 100%;
      color: gold;
      display: block;
      padding-top: 10px;
      font-size: 18px;
      font-family: "Poppins", sans-serif;
    }

    .stop-time {
      color: $berry;
    }
  }

  .middle {
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
    padding-right: 10px;
    box-sizing: border-box;
    position: relative;

    &::before {
      content: "Strona w trakcie budowy.";
      width: 100%;
      height: 35px;
      position: absolute;
      left: 0;
      bottom: 35px;
      font-size: 10px;
      white-space: wrap;
      line-height: 35px;
      text-align: center;
      background-color: gold;
      color: #000;

      @include md() {
        font-size: 20px;
      }
    }

    &::after {
      content: "Otwarcie salonu 1 marca 2025r.";
      width: 100%;
      height: 35px;
      position: absolute;
      left: 0;
      bottom: 0;
      font-size: 10px;
      white-space: wrap;
      line-height: 35px;
      text-align: center;
      background-color: gold;
      color: #000;

      @include md() {
        font-size: 20px;
      }
    }

    @include md() {
      justify-content: center;
    }

    &__banner {
      width: 250px;
      height: 40px;
      display: flex;
      align-items: center;
      border-radius: 5px;
      box-shadow: 0 0px 5px #00000031;
      overflow: hidden;
    }

    &__paragraph {
      position: relative;
      right: 0;
      font-family: $chakraP;
      color: $burgundy;
      text-shadow: 3px 3px 1px #000000be;
      animation: flying-banner 14s linear infinite;
      white-space: nowrap;
      letter-spacing: 1px;
      color: $burgundy;
      font-size: 30px;
      line-height: 40px;
    }

    &__paragraph:hover {
      animation-play-state: paused;
      -webkit-animation-play-state: paused;
    }

    @keyframes flying-banner {
      0% {
        transform: translateX(0);
        padding-left: 100%;
      }

      100% {
        transform: translateX(-100%);
        padding-left: 100%;
      }
    }
  }

  &__end {
    margin-bottom: 30px;

    @include md() {
      margin-bottom: 100px;
    }
  }

  .end {
    grid-column: 1/-1;
    align-self: end;

    @include md() {
      grid-column: 1/-1;
    }

    &__title {
      font-size: 20px;
      line-height: 22px;
      box-sizing: border-box;
      text-shadow: 0 3px 5px #111;
      font-family: $chakraP;
      padding: 0 20px;

      @include md() {
        padding: 0 40px;
      }

      @include md() {
        font-size: 28px;
        line-height: 30px;
      }

      @include lg() {
        font-size: 38px;
        line-height: 48px;
      }
    }

    &__smile::after {
      content: "\263B";
      font-size: 30px;
      color: gold;
      margin-left: 6px;

      @include md() {
        font-size: 45px;
      }
    }
  }
}
