@use "../utils/mixins.scss" as *;
@use "../utils/variables.scss" as *;

.helmets-subpage {
  background-color: #e4dfd3;

  &__helmets-main {
    padding-top: 30px;
    grid-column: 1/-1;
    @include grid;
  }

  .helmets-main {
    &__different-choices {
      grid-column: 1/-1;
      margin-bottom: 100px;
      @include grid;
    }

    .different-choices {
      &__about-partners {
        text-decoration: underline;
      }

      &__invite-paragraph-box {
        grid-column: 1/-1;
        display: none;

        @include md {
          // grid-column: 3/5;
          // text-align: center;
        }

        @include lg {
          grid-column: 2/6;
          display: block;
        }
      }

      &__invite-paragraph {
        font-family: Poppins;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0%;
        color: #333333;
      }

      &__marks-paragraph-box {
        grid-column: 1/-1;
        padding: 15px;

        @include md {
          grid-column: 2/6;
          text-align: center;
          padding: 0;
        }

        @include lg {
          grid-column: 7/11;
          border-bottom: 1px solid #344f1080;
        }
      }

      &__marks-paragraph {
        font-family: Poppins;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 5%;
        text-align: left;
        text-transform: uppercase;
        color: #333;
      }
    }

    &__helmet-mark-wrap {
      grid-column: 1/-1;
      margin-bottom: 100px;
      @include grid;
    }

    .helmet-mark-wrap {
      position: relative;

      &__airoh-caption {
        grid-column: 1/2;
      }

      .airoh-caption {
        @include flex-center;
        flex-direction: column;
        display: none;

        @include md {
          display: block;
        }

        &__rectangle {
          height: 100px;
          width: 1px;
          margin: 10px auto;
          background-color: #344f1080;
        }

        &__paragraph {
          @include flex-center;
          font-family: Poppins;
          width: 100%;
          font-weight: 500;
          font-size: 14px;
          line-height: 18.2px;
          letter-spacing: 0%;
          color: #344f1080;
          // text-orientation: sideways-right;
          writing-mode: vertical-rl;
          transform: rotate(180deg);
        }
      }

      &__airoh-content {
        grid-column: 1/-1;
        padding: 15px;

        @include md {
          grid-column: 2/6;
        }
      }

      .airoh-content {
        &__title {
          font-family: Poppins;
          font-weight: 600;
          font-size: 36px;
          line-height: 39.6px;
          letter-spacing: 5%;
          color: #344f10;
        }

        &__paragraph {
          font-family: Poppins;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0%;
          color: #333333;
          margin-top: 30px;
        }
      }

      &__airoh-big-photos {
        grid-column: 1/2;
        padding-left: 10px;

        @include md {
          grid-column: 1/4;
        }

        @include lg {
          padding: 0;
          grid-column: 7/11;
        }
      }

      .airoh-big-photos {
        &__image {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;

          @include md {
            width: 100%;
            height: 60%;
            object-fit: cover;
          }

          @include lg {
            max-width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      &__airoh-small-photos {
        grid-column: 2/-1;
        padding-right: 10px;

        @include md {
          grid-column: 4/-1;
        }

        @include lg {
          padding: 0;
          grid-column: 11/-1;
        }
      }

      .airoh-small-photos {
        display: flex;
        align-items: flex-end;

        &__image {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: top;

          @include md {
            width: 100%;
            height: 60%;
            object-fit: cover;
          }

          @include lg {
            width: 100%;
            height: 80%;
            object-fit: cover;
          }
        }
      }
    }
  }
}
