@use "../utils/mixins.scss" as *;
@use "../utils/variables.scss" as *;
@use "../utils/font-icon.scss" as *;

.main {
  padding: 10px;

  @include grid();
  // dzięki temu przy oddaleniu ekranu, fotka startowa nie rozlewa się na cały ekran
  @include xl() {
    min-height: 950px;
  }
  // bem, nadaje margines dziecku maina
  &__navi {
    margin: 50px 0;
  }

  .navi {
    grid-column: 1/-1;
    @include grid();

    &__list {
      grid-column: 1/-1;
      grid-template-rows: 250px;
      grid-auto-rows: 200px;
      @include grid();

      @include lg() {
        grid-template-rows: 300px;
        grid-auto-rows: 250px;
      }

      @include xl() {
        grid-template-columns: repeat(12, 63px);
      }
    }
    // scalowanie kafelek menu
    &__item {
      grid-column: 1/-1;
      border: 4px solid #5e1919;
      box-sizing: border-box;
      border-radius: 15px;
      overflow: hidden;
      @include flex-center();

      &--maps {
        border: none;
        box-shadow: none;
        position: relative;

        .navi__link--maps {
          width: 100%;
          height: 100%;
          grid-column: 1/-1;
        }

        .maps-title {
          position: absolute;
          width: 100%;
          text-align: center;
          bottom: 2px;
          left: 0;
          right: 0;
          z-index: 2;
          font-family: $chakra;
        }

        .item-maps-photo {
          width: 100%;
          height: 100%;
          transition: transform 0.5s ease-in;
        }

        &:hover .item-maps-photo {
          transform: scale(5) translateX(-40px) translateY(17px);
        }
      }

      &--overlay {
        position: relative;

        .item-bckgrd-photo {
          width: 95%;
          height: 95%;
          object-fit: cover;
          position: absolute;
          border-radius: 10px;

          &--width {
            width: 95%;
            height: 95%;

            @include md() {
              width: 98%;
              height: 95%;
            }
          }
        }

        .item-overlay {
          box-sizing: border-box;
          width: 90%;
          height: 90%;
          position: absolute;
          border-radius: 10px;
          transition: transform 0.3s;
          background-color: #0000004f;
          @include flex-center();
        }
      }

      &--overlay:hover .item-overlay {
        transform: translateX(100%);
      }
    }

    &__link {
      text-decoration: none;
      color: #fff;
      width: 100%;
      height: 100%;
      @include flex-center();
      z-index: 1;
    }
    // scalowanie kafelek z klasą ...short menu dla > 640px
    &__item--short {
      @include md() {
        grid-column: span 2;
      }
    }
    // scalowanie kafelek z klasą ...small menu dla > 1020px
    &__item--small {
      @include lg() {
        grid-column: span 4;
      }
    }
    // scalowanie kafelek z klasą ...long menu dla > 1020px
    &__item--long {
      @include md() {
        grid-column: span 4;
      }
    }
    // scalowanie kafelek z klasą ...long menu dla > 1020px
    &__item--big {
      @include lg() {
        grid-column: span 8;
      }
    }

    &__item--cars {
      display: grid;
      gap: 5px;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;

      .grid-cars-top {
        height: 100%;
        border-bottom: 1px solid #5e1919;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        position: relative;
        overflow: hidden;

        &::before {
          content: "Producenci";
          text-align: center;
          font-size: 10px;
          font-weight: 500;
          line-height: 16px;
          display: block;
          width: 70px;
          height: 16px;
          background-color: #5e1919;
          position: absolute;
          top: 0;
          left: calc(50% - 35px);
          transition: opacity 0.7s;
          z-index: 1;
          border-bottom-right-radius: 3px;
          border-bottom-left-radius: 3px;
        }

        @include md() {
          &::before {
            font-size: 14px;
            line-height: 20px;
            width: 100px;
            height: 20px;
            left: calc(50% - 50px);
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
          }
        }

        @include lg() {
          &::before {
            font-size: 16px;
            line-height: 30px;
            width: 200px;
            height: 30px;
            left: calc(50% - 100px);
          }
        }

        &:hover .grid-cars-top__overlay {
          transform: translateX(-100%);
        }

        &__overlay {
          @include flex-center();
          transition: transform 0.5s;
          width: 100%;
          height: 100%;
          background-color: $ink;
          position: absolute;
          box-sizing: border-box;
          background-image: url("../../images/up2.jpg");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          z-index: 1;
        }

        &__title-secondary {
          grid-column: 1/-1;
          height: 100%;
          position: absolute;
          text-align: center;
          width: 100%;
          @include flex-center();
        }

        &__item {
          grid-column: 1fr;
          @include flex-center();

          &:hover .grid-cars-top__link {
            transform: translateY(-10px);
          }
        }

        &__link {
          text-decoration: none;
          transition: transform 0.3s;
          color: #fff;
          width: 100%;
          height: 100%;
          @include flex-center();
        }

        &__icon {
          width: 100%;
          height: auto;
        }
      }

      .grid-cars-bottom {
        height: 100%;
        padding-bottom: 10px;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        position: relative;
        overflow: hidden;

        &::before {
          content: "Pojazdy";
          text-align: center;
          font-size: 10px;
          font-weight: 500;
          line-height: 16px;
          display: block;
          width: 70px;
          height: 16px;
          background-color: #5e1919;
          position: absolute;
          bottom: 0;
          left: calc(50% - 35px);
          transition: opacity 0.7s;
          z-index: 1;
          border-top-right-radius: 3px;
          border-top-left-radius: 3px;
        }

        @include md() {
          padding-bottom: 25px;
          &::before {
            font-size: 14px;
            line-height: 20px;
            width: 100px;
            height: 20px;
            left: calc(50% - 50px);
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
          }
        }

        @include lg() {
          padding-bottom: 30px;

          &::before {
            font-size: 16px;
            line-height: 30px;
            width: 200px;
            height: 30px;
            left: calc(50% - 100px);
          }
        }

        &:hover .grid-cars-bottom__overlay {
          transform: translateX(-100%);
        }

        &__item {
          grid-column: 1fr;
          @include flex-center();

          &--scooter {
            background-image: url("./images/scooter1.png");
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;

            @include lg() {
              background-size: contain;
            }
          }

          &--motorbike {
            background-image: url("./images/motorbike1.png");
            background-size: 75%;
            background-repeat: no-repeat;
            background-position: center;

            @include lg() {
              background-size: contain;
            }
          }

          &--quad {
            background-image: url("./images/quad1.png");
            background-size: 75%;
            background-repeat: no-repeat;
            background-position: center;

            @include lg() {
              background-size: contain;
            }
          }

          &:hover .grid-cars-bottom__link {
            transform: translateY(-5px);
          }
        }

        &__link {
          text-decoration: none;
          width: 100%;
          height: 100%;
          font-size: 14px;
          text-align: center;
          color: #fff;
          transition: opacity 0.3s ease;
          background-color: rgb(0, 0, 0);
          text-transform: uppercase;
          transition: transform 0.2s ease;
          border-radius: 10px;
        }
      }
    }
  }
}
