@use "../utils/mixins.scss" as *;
@use "../utils/variables.scss" as *;
@use "../utils/paragraph.scss" as *;

.section {
  &__open {
    margin: 50px 0;
  }
  .open {
    padding: 25px;
    box-sizing: border-box;
    @include grid();

    &__title {
      text-align: center;
      padding: 10px 0;
      grid-column: 1/-1;
      min-height: 80px;
      font-size: 30px;
      line-height: 40px;
      width: 100%;
      @include flex-center();

      &--salon-service {
        border-bottom: 2px solid gold;
        padding-bottom: 10px;
        margin-top: 20px;
        font-size: 40px;
        font-weight: 400;
        text-transform: uppercase;
      }
    }

    .hours {
      &__salon {
        grid-column: 1/-1;
        padding: 0 20px;

        @include lg() {
          grid-column: 1/9;

          display: flex;
          flex-wrap: wrap;
          justify-content: space-evenly;
          align-items: center;
        }

        &--season {
          grid-column: 1/-1;
        }
        &--off-season {
          grid-column: 1/-1;
        }
      }

      &-service {
        grid-column: 1/-1;
        padding: 0 20px;

        @include lg() {
          grid-column: 9/-1;
        }

        // @include lg() {
        //   grid-column: 1/7;
        // }
      }

      &__title {
        text-align: center;
        line-height: 50px;
        padding: 20px 0;
        color: gold;
      }

      &__schedule {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ffffff2c;
      }
    }
  }
}
