@use "../utils/mixins.scss" as *;
@use "../utils/variables.scss" as *;
@use "../utils/paragraph.scss" as *;

.section {
  &__open {
    margin: 50px 0;
  }
  .open {
    padding: 25px;
    box-sizing: border-box;
    @include grid();

    &__title {
      text-align: center;
      padding: 10px 0;
      grid-column: 1/-1;
      min-height: 80px;
      @include flex-center();

      &--service {
        @include lg() {
          grid-column: 1/5;
        }
      }
    }

    .hours {
      &-service {
        grid-column: 1/-1;

        @include lg() {
          grid-column: 1/5;
        }

        // @include lg() {
        //   grid-column: 1/7;
        // }
      }

      &__salon {
        grid-column: 1/-1;

        @include lg() {
          grid-column: 5/-1;

          display: grid;
          grid-template-columns: 50% 50%;
          column-gap: 20px;
        }

        &--season {
          grid-column: 1/-1;
        }
        &--off-season {
          grid-column: 1/-1;
        }
      }

      &__title {
        text-align: center;
        line-height: 50px;
        padding: 20px 0;
        color: gold;
      }

      &__schedule {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ffffff2c;
      }
    }
  }
}
