@use "../utils/mixins.scss" as *;
@use "../utils/variables.scss" as *;
@use "../utils/fading-boxes.scss" as *;

.producer-main {
  @include grid;

  &__invite {
    margin-top: 60px;
  }

  .invite {
    padding: 0 20px;
    grid-column: 1/-1;
    @include grid;

    @include md {
      padding: 0 72px;
    }

    &__title {
      grid-column: 1/-1;
      font-family: Poppins;
      font-size: 32px;
      font-weight: 500;
      line-height: 32px;
      letter-spacing: -1.5px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      padding-bottom: 12px;

      @include md {
        grid-column: 1/4;
      }

      @include lg {
        grid-column: 2/4;
      }
    }

    &__paragraph {
      grid-column: 1/-1;
      font-family: Poppins;
      font-size: 23px;
      font-weight: 500;
      line-height: 32.2px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;

      @include md {
        grid-column: 4/-1;
      }

      @include lg {
        grid-column: 5/-2;
      }
    }

    &__title--position {
      grid-column: 1/-1;
      text-align: center;
      margin-top: 90px;

      @include md {
        margin-top: 132px;
      }

      @include lg {
        margin-top: 164px;
      }
    }
  }

  &__products-wrapper {
    margin-top: 50px;
  }

  .products-wrapper {
    padding: 0 20px;
    grid-column: 1/-1;
    padding: 0 20px;
    @include grid;

    &__product {
      grid-column: 1/-1;
      margin-bottom: 90px;

      @include md {
        grid-column: 2/-2;
        margin-bottom: 120px;
      }

      @include lg {
        margin-bottom: 144px;
      }
    }

    &__product-wrap {
      grid-column: 1/-1;
      @include grid;
    }
  }

  .product-wrap {
    display: none;

    &:target {
      display: block;
    }

    &__details {
      grid-column: 1/-1;
      margin-bottom: 90px;

      @include md {
        margin-bottom: 120px;
      }

      @include lg {
        margin-bottom: 144px;
      }
    }

    &__technicals {
      grid-column: 1/-1;
      margin-bottom: 90px;

      @include md {
        margin-bottom: 120px;
      }

      @include lg {
        margin-bottom: 144px;
      }
    }
  }

  .product {
    @include grid;

    &__photo-box {
      grid-column: 1/-1;
      box-sizing: border-box;
      position: relative;
      overflow: hidden;
      border-radius: 10px;
      border: 2px solid rgba(255, 217, 0, 0.63);
    }

    .photo-box {
      .switch-color {
        @include flex-center;
        height: 50px;

        &__arrow {
          font-size: 30px;
          color: gold;
          transition: transform 0.3s;
          margin: 0 10px;
          cursor: pointer;

          &:hover {
            transform: scale(1.2);
          }
        }
      }

      &__pro-colors {
        position: relative;
        overflow: hidden;
        box-sizing: border-box;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }

      .pro-colors {
        transition: transform 0.4s;

        // slider z kolorowymi skuterami, klasy po kliknieciu zeby zwiewaly i wracały

        &--fact_hide {
          @include motor_hide;
        }

        &--fact_show {
          @include motor_show;
        }

        &--fact_run {
          @include motor_run;
        }

        &--vieste_hide {
          @include motor_hide;
        }

        &--vieste_show {
          @include motor_show;
        }

        &--vieste_run {
          @include motor_run;
        }

        &--versilia_hide {
          @include motor_hide;
        }

        &--versilia_show {
          @include motor_show;
        }

        &--versilia_run {
          @include motor_run;
        }

        // slider z kolorowymi skuterami, klasy po kliknieciu zeby zwiewaly i wracały

        &__photo {
          width: 50%;
          height: auto;
          transition: transform 0.3s;

          @include lg {
            width: 50%;
          }

          &:hover {
            transform: scale(1.2);
          }
        }

        // kolory beforków i afterków

        &--blackwhite {
          &::after {
            @include white;
          }

          &::before {
            @include black;
          }
        }

        &--gray {
          &::before {
            @include gray;
          }
        }

        &--white {
          &::after {
            @include white;
          }
        }

        &--black {
          &::before {
            @include black;
          }
        }

        &--blue {
          &::before {
            @include blue;
          }
        }

        &--red {
          &::after {
            @include red;
          }
        }

        // kolory beforków i afterków - KONIEC
      }
    }

    &__title {
      grid-column: 1/-1;
      font-family: Poppins;
      font-size: 24px;
      font-weight: 700;
      line-height: 33.6px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
    }

    &__write {
      font-family: "Niconne", serif;
      font-weight: 400;
      font-style: normal;
      font-size: 50px;
      letter-spacing: 2px;
      display: block;
      padding-top: 25px;
      line-height: 60px;

      @include lg {
        padding-top: 0;
        padding-left: 20px;
        display: inline-block;
      }
    }

    &__title--name {
      grid-column: 1/-1;
      line-height: 60px;
      border-top: 2px dashed gold;
      padding-top: 175px;
      font-style: italic;
      font-size: 46px;
      text-align: center;
      min-height: 100px;
    }

    &__paragraph {
      grid-column: 1/-1;
      font-family: Poppins;
      font-size: 16px;
      font-weight: 400;
      line-height: 22.4px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
    }

    &__button {
      grid-column: 1/2;
      margin-top: 40px;

      @include md {
        grid-column: 2/-2;
        margin-top: 48px;
      }

      @include lg {
        grid-column: 5/9;
      }
    }
  }

  .details {
    @include grid;

    &__title {
      grid-column: 1/-1;
      font-family: Poppins;
      font-size: 32px;
      font-weight: 500;
      line-height: 32px;
      letter-spacing: -1.5px;
      text-align: center;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      margin-bottom: 48px;

      @include md {
        font-size: 48px;
        line-height: 48px;
        margin-bottom: 64px;
      }

      @include lg {
        font-size: 64px;
        line-height: 64px;
      }

      &--element {
        grid-column: 1/-1;
        font-family: Poppins;
        font-size: 24px;
        font-weight: 700;
        line-height: 33.6px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
      }
    }

    &__photo {
      height: 163px;
      text-align: center;
      overflow: hidden;

      @include md {
        height: 200px;
      }

      @include lg {
        height: 321px;
      }

      &--big {
        grid-column: span 1;

        @include md {
          grid-column: span 4;
        }

        @include lg {
          grid-column: span 8;
        }
      }

      &--small {
        grid-column: span 1;

        @include md {
          grid-column: span 2;
        }

        @include lg {
          grid-column: span 4;
        }
      }
    }

    &__element {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 10px;
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.1);
      }
    }

    &__element--up {
      object-position: center 25%;
    }

    &__element--down {
      object-position: center 80%;
    }

    &__paragraph {
      grid-column: 1/-1;
      font-family: Poppins;
      font-size: 16px;
      font-weight: 400;
      line-height: 22.4px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
    }
  }

  .technicals {
    @include grid;

    &__title {
      grid-column: 1/-1;
      font-family: Poppins;
      font-size: 32px;
      font-weight: 500;
      line-height: 32px;
      letter-spacing: -1.5px;
      text-align: center;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      margin-bottom: 48px;

      @include md {
        font-size: 48px;
        line-height: 48px;
        margin-bottom: 64px;
      }

      @include lg {
        font-size: 64px;
        line-height: 64px;
      }
    }

    &__tech-el {
      grid-column: span 2;
      min-height: 200px;
      border: 1px solid #ffffff3f;
      box-sizing: border-box;
      background-position: center;
      background-size: cover;

      @include md {
        grid-column: span 3;
      }

      @include lg {
        grid-column: span 6;
      }

      &--engine {
        background-image: url("../../images/keeway/X-Light125/silnik1.jpg");
      }

      &--gearcase {
        background-image: url("../../images/keeway/X-Light125/bebechy.jpg");
      }

      &--weight {
        background-image: url("../../images/keeway/X-Light125/licznik.png");
      }

      &--chassis {
        background-image: url("../../images/keeway/vies125/amorek.png");
      }
    }

    .tech-el {
      position: relative;
      @include flex-center;
      cursor: default;

      &__paragraph {
        font-size: 40px;
        text-align: center;
        text-transform: uppercase;
        position: absolute;
        transition: opacity 0.3s;
      }

      &:hover .tech-el__paragraph {
        opacity: 0.2;
      }

      &__tech-info {
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.3s;
      }

      &:hover .tech-el__tech-info {
        opacity: 1;
      }

      .tech-info {
        &__paragraph {
          padding-top: 15px;
          font-family: Poppins;
          font-size: 20px;
          line-height: 22.4px;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          text-align: center;
          font-weight: bold;
          text-shadow: 0px 1px 3px #000000;
          transition: transform 0.3s;
        }

        &__paragraph:last-child {
          padding-bottom: 5px;
        }

        &__paragraph--value {
          padding: 0;
          font-weight: normal;
          color: gold;
          font-size: 18px;
        }
      }
    }
  }
}
