@use "..//utils/mixins.scss" as *;
@use "../utils/variables.scss" as *;

.producer-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include grid;

  &--keeway {
    background-color: #0f0f0f;
    background-image: url("../../images//keewfront4.jpg");
    min-height: 90vh;
    background-position: 85% center;
    background-size: cover;
    background-repeat: no-repeat;

    @include md() {
      background-position: center;
      background-size: contain;
      min-height: 682px;
    }
  }

  &__nav {
    grid-column: 1/-1;
    height: 86px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__list {
    width: 100%;
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include xl {
      justify-content: space-around;
    }
  }

  &__item {
    &--logo {
      width: 160px;
    }
  }

  &__keeway {
    width: 100%;
    height: auto;
  }

  &__title {
    min-height: 120px;
    grid-column: 1/-1;
    font-family: Poppins;
    font-size: 26px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -1.5px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    @include md {
      font-size: 36px;
    }
  }
}
