@use "..//utils/mixins.scss" as *;
@use "../utils/variables.scss" as *;

.producer-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 90vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @include grid;

  @include lg() {
    background-position: center;
    background-size: contain;
    min-height: 682px;
  }

  &--keeway {
    background-image: url("../../images/keeway/keewfront4.jpg");
  }

  &--kymco {
    background-image: url("../../images/kymco/kymcofront1.jpg");
  }

  &--qjmotor {
    background-image: url("../../images/qjmotor/qjfront2.jpg");
  }

  &--morbidelli {
    background-image: url("../../images/morbidelli/mbpfront.jpg");
  }

  &--benelli {
    background-image: url("../../images/benneli/benellifront.jpg");
  }

  // &--skutery {
  //   background-image: url("../../images/morbidelli/mbpfront.jpg");
  // }

  // &--motocykle {
  //   background-image: url("../../images/morbidelli/mbpfront.jpg");
  // }

  &--quady {
    background-image: url("../../images/quady/quadfront.jpg");
  }

  &__nav {
    grid-column: 1/-1;
    height: 86px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__list {
    width: 100%;
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    .burger {
      display: inline-block;
      width: 22px;
      height: 16px;
      background-image: url("../images/menu.svg");
      background-size: cover;

      &:hover {
        background-image: url("../images/menu_hover.svg");
      }
      &__label {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        width: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
      }
    }

    &--logo {
      width: 160px;
    }
  }

  &__keeway {
    width: 100%;
    height: auto;
  }

  &__title {
    grid-column: 1/-1;
    font-family: Poppins;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: -1.5px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    @include md {
      font-size: 36px;
    }

    @include md {
      font-size: 64px;
    }

    @include xl {
      font-size: 80px;
    }
  }
}
