@use "../utils/variables.scss" as *;
@use "../utils/mixins.scss" as *;

.title {
  @include font-details();
  font-size: 48px;
  line-height: 40.8px;
  text-align: left;
}

.title-secondary {
  @include font-details();
  font-size: 30px;
  line-height: 30.8px;
  text-align: center;
}

.title-third {
  @include font-details();
  font-size: 22px;
  line-height: 22.8px;
  text-align: center;
}
