@use "../utils/variables.scss" as *;

@mixin grid() {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;

  @media (min-width: 640px) {
    grid-template-columns: repeat(6, 1fr);
    gap: 24px;
  }

  @media (min-width: 1020px) {
    grid-template-columns: repeat(12, 60px);
  }

  @media (min-width: 1600px) {
    grid-template-columns: repeat(12, 73px);
    gap: 34px;
  }
}

@mixin md() {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin lg() {
  @media (min-width: 1020px) {
    @content;
  }
}

@mixin xl() {
  @media (min-width: 1600px) {
    @content;
  }
}

@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin font-details() {
  font-family: $bruno;
  font-weight: 400;
  letter-spacing: -0.05em;
}

@mixin colorsOfBike() {
  display: block;
  z-index: -1;
  text-align: center;
  width: 140px;
  height: 20px;
  line-height: 20px;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: $chakraP;
  background-color: gold;
  text-shadow: 1px 1px 10px rgb(0, 0, 0);
  position: absolute;
  top: 20px;
}

@mixin white() {
  @include colorsOfBike;
  content: "biały";
  color: rgb(254, 255, 216);
  transform: rotate(45deg);
  right: -40px;
}

@mixin black() {
  @include colorsOfBike;
  content: "czarny";
  color: rgb(0, 0, 0);
  transform: rotate(-45deg);
  left: -40px;
}

@mixin gray() {
  @include colorsOfBike;
  content: "szary";
  color: rgb(73, 73, 73);
  transform: rotate(-45deg);
  left: -40px;
}

@mixin red() {
  @include colorsOfBike;
  content: "czerwony";
  font-size: 12px;
  color: rgb(158, 0, 0);
  transform: rotate(-45deg);
  left: -40px;
}

@mixin red-right() {
  @include colorsOfBike;
  content: "czerwony";
  font-size: 12px;
  color: rgb(158, 0, 0);
  transform: rotate(45deg);
  right: -40px;
}

@mixin blue() {
  @include colorsOfBike;
  content: "niebieski";
  font-size: 14px;
  color: rgb(0, 61, 173);
  transform: rotate(45deg);
  right: -40px;
}

@mixin motor_hide() {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
}

@mixin motor_show() {
  position: relative;
  top: 0;
  left: 0;
  transform: translateX(0%);
}

@mixin motor_run() {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(100%);
}
