$burgundy: #800020;
$burgundy_light: #800020;
$berry: #ab0b23;
$keeway: rgb(244 66 6);
$ink: #070504;
$cool-black: #151922;
$blues: #2344;
$youtube-dark: #212121;
$coconut: #f0ede5;
$coconut-light: #f0ede5e5;
$egg: #f9feff;
$ivory: #fffff0;
$bruno: "Bruno Ace SC", sans-serif;
$chakra: "Chakra Ace SC", sans-serif;
$chakraP: "Chakra Petch", sans-serif;
$popins: "Poppins", serif;
$roboto: "Roboto", serif;
$dancing: "Dancing Script", serif;
$niconne: "Niconne", serif;
