@use "./utils/reset.scss" as *;
@use "./utils/variables.scss" as *;
@use "./utils/mixins.scss" as *;
@use "./utils/title.scss" as *;
@use "./utils/fading-boxes.scss" as *;
@use "./utils/button.scss" as *;

@use "./blocks/header.scss" as *;
@use "./blocks/main.scss" as *;
@use "./blocks/opening.scss" as *;
@use "./blocks/footer.scss" as *;
@use "./blocks/producer-header.scss" as *;
@use "./blocks/producer-main.scss" as *;
@use "./blocks/drop-menu.scss" as *;
@use "./blocks/clothes-header.scss" as *;
@use "./blocks/clothes-main.scss" as *;
@use "./blocks/helmets-header.scss" as *;
@use "./blocks/helmets-main.scss" as *;
@use "./blocks/drive-test-main.scss" as *;
@use "./blocks/drive-test-header.scss" as *;
@use "./blocks/service-header.scss" as *;
@use "./blocks/service-main.scss" as *;

@use "./blocks/about-company.scss" as *;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  background-color: #000;
  color: #ffffff;

  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}

// a {
//   cursor: not-allowed;
// }
