@use "./utils/reset.scss" as *;
@use "./utils/variables.scss" as *;

@use "./blocks/header.scss" as *;
@use "./blocks/nav.scss" as *;

body {
  font-family: $chakraP;
  font-weight: 800;
  font-style: normal;
  color: $ivory;
  // background-color: $cool-black;
}
